@font-face {
    font-family: 'Ubuntu';
    src: url("/static/fonts/Ubuntu/Ubuntu-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Inter';
    src: url("/static/fonts/Inter/static/Inter-Regular.ttf") format('truetype');
}

body {
    margin: 0;
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: "Ubuntu", sans;
}

.navbar {
    margin: 0;
    padding: 2px;
    background-color: #303030;
    text-align: center;
}

.burgerlogo {
    color: white;
    text-decoration: none;
}

.musicdiv {
    list-style-type: none;
    width: calc(100% - 40px);
    height: fit-content;
    margin: 8px;
    border-radius: 8px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #272727;
}

.musicdivselected div {
    background-color: #3ebc77;
}

.noimage p {
    transform: translateY(-0%);
    margin: 8px;
}

.albumdiv {
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
    width: 250px;
    height: 250px;
}

.videotitle {
    display: inline-block;
    padding-left: 8px;
    transform: translateY(-50%);
}

.albumtitle {
    list-style-type: none;

    width: 275px;
    height: 58px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    border-radius: 10px;

    padding-left: 10px;
    transform: translateY(200%);
}

.albumtitleshadow {
    width: 250px;
    height: 58px;

    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    transform: translateY(335%);
}

.videoauthor {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    color: #9a9a9a;
    transform: translateY(-50%);
}

.videoauthor:hover {
    border-radius: 8px;
    background-color: #afafaf;
    color: black;
}

.videoimg {
    height: 60px;
    width: 60px;
    position: relative;
    transform: translateY(15%);
    align-items: center;
}

.albumsize {
    transform: translateY(3%);
    padding-bottom: 5px;
    height: 250px;
    width: 250px;
}

.explicittag {
    display: inline-block;
    transform: translateY(-50%);
    background-color: #afafaf;
    color: black;
    border-width: 0;
    border-radius: 4px;
    margin-left: 7px;
    padding-left: 7px;
    padding-right: 7px;
}

.linkwrap {
    color: white;
    text-decoration: none;
}

.horizontalcontainer {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 10px;
    margin-bottom: 10px;
}

.searchbar {
    background-color: #1e1e1e;
    width: 20%;
    min-width: 150px;
    color: white;
    border-radius: 8px;
    border-width: 0;
    padding: 10px;
    margin: 10px;
    margin-right: 3px;
    font-size: 16px;
}

.searchbutton {
    background-color: #3ebc77;
    width: 10%;
    min-width: 95px;
    color: white;
    border-radius: 8px;
    border-width: 0;
    padding: 10px;
    margin: 10px;
    margin-left: 3px;
    font-size: 16px;
}

.playbutton {
    background-color: #3ebc77;
    width: 10%;
    color: white;
    border-radius: 8px;
    border-width: 0;
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 10px;
}

.audioplayer {
    text-align: center;
    background-color: #272727;
    padding: 10px;
    margin: 10px;
    border-color: #303030;
    border-radius: 16px;
}

.audioplayerinv {
    text-align: center;
    background-color: #1e1e1e;
    padding: 0;
    margin: 0;
}

.coverartplayer {
    object-fit: cover;
    object-position: center center;
    width: 20%;
    min-width: 220px;
    aspect-ratio: 1 / 1;
    min-height: 220px;
}

.albumviewimg {
    object-fit: cover;
    object-position: center center;
    width: 20%;
    min-width: 220px;
    aspect-ratio: 1 / 1;
    min-height: 220px;
    padding: 0;
}

h1 {
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    margin-left: 10px;
    margin-right: 10px;
}

.errortext {
    margin-left: 10px;
    margin-right: 10px;
    white-space: pre-wrap;
}

.formclass {
    background-color: #303030;
    width: 10%;
    min-width: 95px;
    color: white;
    border-radius: 8px;
    border-width: 0;
    padding: 10px;
    margin: 10px;
}

.highlight {
    background-color: #3ebc77;
}


/* Page loading animation (requires JS)*/
@keyframes page-load {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.page-loading::before {
    content: " ";
    display: block;
    position: fixed;
    z-index: 10;
    height: 2px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #3ebc77;
    animation: page-load ease-out 2s;
}

/* image effect because some guy online wanted it */

.placeholderimgcont {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    width: 220px;
    height: 220px;
    position: relative;
}

.bg-image-blur,
.bg-image {
    /*background-image: url("https://lh3.googleusercontent.com/Ss4ngwqeCyVbRsBAFH32UBSRJgnbCCARJqGAw6bQ3UfYtJ4duXw9PAaPpFIu5xfKclWEPduSpgtkogv8=w544-h544-l90-rj");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-image-blur {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}

.pageimage {
    object-fit: cover;
    width: 100%;
    max-height: 300px;
}