<!DOCTYPE html>
<html>

<head>
    <title>Burgertunes</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    <h1>About Burgertunes</h1>
    <h2>What is Burgertunes?</h2>
    <p class="errortext">Burgertunes is a privacy-respecting frontend for YouTube Music. </p>
    <h2>Why even use Burgertunes?</h2>
    <p class="errortext">- Privacy. We don't know who is using Burgertunes.</p>
    <p class="errortext">- No advertisements at all.</p>
    <p class="errortext">- Works without JavaScript. (JavaScript is required for playing albums and playlists)</p>
    <h2>Is Burgertunes open source?</h2>
    <p class="errortext">Yes! Burgertunes is under GNU AGPL v3.</p>
</body>