<!DOCTYPE html>
<html>

<head>
    <title>{{ info.name }}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/icons/burgertunes64.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ style }}" />
    <link rel="manifest" href="{{ url_for('static', filename='burgertunes.webmanifest') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='loadinganim.js') }}"></script>
<body>
    <div class="navbar">
        <a class="burgerlogo" href="/">
            <h1>Burgertunes</h1>
            <p>Privacy-friendly music streaming</p>
        </a>
    </div>
    <img class="pageimage" src="{{ info.thumbnails[2].url }}">
    <h1>{{ info.name }}</h1>
    <p class="errortext">{{ info.description }}</p>
    {% for video in info.songs.results %}
    <a class="linkwrap" href="/music/{{ video.videoId }}">
        <div class="musicdiv">
            <img class="videoimg" loading="lazy" src="{{ video.thumbnails[0].url }}">
            {% if video.isExplicit %}
            <p class="explicittag">EXPLICIT</p>
            {% endif %}
            <p class="videotitle">{{ video.title }}</p>
            {% for artist in video.artists %}
            <a href="/artist/{{ artist.id }}" class="linkwrap">
                <p class="videoauthor">{{ artist.name }} </p>
            </a>
            {% endfor %}
        </div>
    </a>
    {% endfor %}
</body>

</html>