<!DOCTYPE html>
<html>

<head>
    <title>{{ info.title }} - {{ info.artist }}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/icons/burgertunes64.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ style }}" />
    <link rel="manifest" href="{{ url_for('static', filename='burgertunes.webmanifest') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='loadinganim.js') }}"></script>
<body>
    <div class="navbar">
        <a class="burgerlogo" href="/">
            <h1>Burgertunes</h1>
            <p>Privacy-friendly music streaming</p>
        </a>
    </div>
    <div class="audioplayer">
        <h1>{{ info.title }}</h1>

        <img class="coverartplayer" src="{{ info.thumbnails[38].url }}">
        <br>
        <audio controls autoplay id="musicPlayer">
            <source src="{{ audiourl }}" type="audio/webm">
            <source src="{{ audiourl }}" type="audio/mp4">
            <source src="{{ audiourl }}" type="audio/mpeg">
            <source src="{{ audiourl }}" type="audio/mp3">
            Your browser does not support audio playback.
        </audio>
        </p>
    </div>

    <h2>More from {{ info.artist }}</h2>
    {% for video in results.songs.results %}
    <a class="linkwrap" href="/music/{{ video.videoId }}">
        <div class="musicdiv">
            <img class="videoimg" src="{{ video.thumbnails[0].url }}">
            {% if video.isExplicit %}
            <p class="explicittag">EXPLICIT</p>
            {% endif %}
            <p class="videotitle">{{ video.title }}</p>
            {% for artist in video.artists %}
            <p class="videoauthor">{{ artist.name }} </p>
            {% endfor %}
        </div>
    </a>

    {% endfor %}
</body>

</html>